$offwhitebackgroundcolor: #fbfbf8;

@media (min-width: 800px) {
	h1::before {
		content: "Meet Our Family!";
	}
}

@media (max-width: 799px) {
	h1::before {
		content: "Our Family!";
	}
}

a:after {
  content: " |";
}

div {
    font-size: 18px;

    h6 {
        font-weight: bold;
    }

    ul {
        font-style: italic;
    }
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 400px;
}

th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

th {
	background-color: lightgray;
}

h1:hover {
	color: blue;
}

li::selection {
	color: red;
	background-color: yellow;
}

body {
	background-color: $offwhitebackgroundcolor;
}	

%border {
    border: 1px solid grey;
    padding: 20px;
    margin: 20px;
}

#corinnelist {
	color: purple;
	@extend %border;
}

#joellist {
	color: navy;
	@extend %border;
}

#jaydenlist {
	color: green;
	@extend %border;
}

#liamlist {
	color: blue;
	@extend %border;
}

#lucaslist {
	color: red;
	@extend %border;
}

#hadleylist {
	color: hotpink;
	@extend %border;
}

#emmalist {
	color: purple;
	@extend %border;
}

.name {
	color: dark_grey;
}